<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se3350.habittracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.JournalNotificationActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.TutorialSummaryActivity"
            android:parentActivityName=".activities.Step4TutorialActivity" />
        <activity
            android:name=".activities.Step4TutorialActivity"
            android:parentActivityName=".activities.Step3TutorialActivity" />
        <activity
            android:name=".activities.Step3TutorialActivity"
            android:parentActivityName=".activities.Step2TutorialActivity" />
        <activity
            android:name=".activities.Step2TutorialActivity"
            android:parentActivityName=".activities.Step1TutorialActivity" />
        <activity
            android:name=".activities.TutorialIntroductionActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.Step1TutorialActivity"
            android:parentActivityName=".activities.TutorialIntroductionActivity" />
        <activity
            android:name=".activities.ViewJournalEntryActivity"
            android:parentActivityName=".activities.JournalListActivity" />
        <activity
            android:name=".activities.JournalListActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.Step1EntryActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.Step2EntryActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.Step3EntryActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.Step4EntryActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.ViewHabitProgressActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.SurveyActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity android:name=".activities.CreatePasswordActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewHabitActivity"
            android:label="@string/title_activity_view_habit"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ViewGoalActivity"
            android:label="@string/title_activity_view_goal"
            android:parentActivityName=".activities.ViewGoalListActivity" />
        <activity
            android:name=".activities.ViewSubgoalActivity"
            android:label="@string/title_activity_view_subgoal"
            android:parentActivityName=".activities.ViewSubgoalListActivity" />
        <activity
            android:name=".activities.ViewGoalListActivity"
            android:label="@string/goal_list"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.ViewSubgoalListActivity"
            android:label="@string/subgoal_list"
            android:parentActivityName=".activities.ViewGoalActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".activities.AddHabitActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddGoalActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.EditHabitActivity"
            android:parentActivityName=".activities.ViewHabitActivity" />
        <activity
            android:name=".activities.AddSubgoalActivity"
            android:parentActivityName=".activities.ViewSubgoalListActivity" />
        <activity
            android:name=".activities.EditGoalActivity"
            android:parentActivityName=".activities.ViewGoalActivity" />
        <activity
            android:name=".activities.EditSubgoalActivity"
            android:parentActivityName=".activities.ViewSubgoalActivity" />
    </application>

</manifest>